<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ .Site.LanguageCode | default "en" }}">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title>{{ .Title }}</title>

  {{/* Lambda */}}
  <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'><text x='50%' y='0.03' text-anchor='middle' fill='%23{{ $.Site.Data.style.colors.highlight }}' font-family='monospace' font-size='1.3' dominant-baseline='hanging'>λ</text></svg>"/>

  {{/* Square */}}
  {{ if false }}
  <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1' style='background:%23{{ $.Site.Data.style.colors.highlight }}'></svg>"/>
  {{ end }}

  {{ $styles := resources.Get "css/main.css" | resources.ExecuteAsTemplate "style.main.css" . | 
minify | 
fingerprint }}
  <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}"/>
  {{ with .Site.Params.description }}<meta name="description" content="{{ . }}"/>{{ end }}
  {{ with .Site.Params.author }}<meta name="author" content="{{ . }}"/>{{ end }}
  {{ with .OutputFormats.Get "RSS" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
  {{- end }}
</head>
<body>
  {{ partial "header" . }}
  <main>
    <div id="content">
      {{ block "main" . }}{{ end }}
    </div>
  </main>
  {{ partial "sidebar" . }}
  {{ partial "footer" . }}
</body>
</html>
