<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title>{{ .Title }}</title>
  <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><text x='0' y='14' fill='%234488ee' font-family='monospace' font-size='14'>λ</text></svg>"/>
  {{ $styles := resources.Get "css/main.css" | resources.ExecuteAsTemplate "style.main.css" . | 
minify | 
fingerprint }}
  <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}"/>
  {{ with .Site.Params.description }}<meta name="description" content="{{ . }}"/>{{ end }}
  {{ with .Site.Params.author }}<meta name="author" content="{{ . }}"/>{{ end }}
  {{ with .OutputFormats.Get "RSS" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
  {{- end }}
</head>
<body>
  <div id="content">
    {{ partial "header" . }}
    <main>
    {{ block "main" . }}{{ end }}
    </main>
    {{ partial "sidebar" . }}
    {{ partial "footer" . }}
  </div>
</body>
</html>
