<ul class="fancy-list">
  {{ range . }}
  {{ $url := cond (isset . "github") (printf "https://github.com/414owen/%s" .github) .website }}
    <li>
      <div class="hsep"></div>
      {{ if isset . "img" }}
      <div class="media">
        {{ if isset . "interactive" }}
          <div>
        {{ else }}
          {{ with .github }}
          <a target="_blank" rel="noopener" href="{{ $url }}">
          {{ end }}
          {{ with .local }}
          <a href="./{{ . }}">
          {{ end }}
          {{ with .website }}
          <a target="_blank" rel="noopener" href="{{$url}}">
          {{ end }}
        {{ end }}
          {{ $img := printf "/img/%s-d.svg" .img }}
          {{ if isset . "interactive" }}
            <object type="image/svg+xml" data="{{ $img }}" aria-label="logo for {{.name}}">{{.name}}</object>
          {{ else }}
            <img src="/img/{{.img}}-d.svg" alt="{{.name}}"/>
          {{ end }}
        {{ if isset . "interactive" }}
          </div>
        {{ else }}
          </a>
        {{ end }}
      {{ end }}
        <div class="content">
          {{ with .github }}
          <a target="_blank" rel="noopener" href="{{ $url }}">
          {{ end }}
          {{ with .local }}
          <a href="./{{ . }}">
          {{ end }}
          {{ with .website }}
          <a target="_blank" rel="noopener" href="{{ $url }}">
          {{ end }}
            {{ if isset . "website" }}
              <span class="url">({{ .website }})</span>
            {{ end }}
            <span class="name">{{ .name }}</span>
          </a>
          <div>{{ .desc }}</div>
        </div>
      {{ if isset . "img" }}
      </div>
      {{ end }}
      <div class="hsep"></div>
    </li>
  {{ end }}
</ul>
