{{ $hash := md5 (printf "mermaid-static-v1:%s" .Inner) }}
{{ $src := printf "/generated/mermaid/%s.svg" $hash }}
{{ $index := or (.Page.Store.Get "mermaidDiagramIndex") 0 }}
{{ .Page.Store.Set "mermaidDiagramIndex" (add $index 1) }}
{{ $id := printf "lightbox-%s-%d" $hash $index }}
<figure>
  {{ partial "lightbox.html" (dict
    "id" $id
    "mediaKind" "object"
    "src" ($src | relURL)
    "objectType" "image/svg+xml"
    "openLabel" "Open Mermaid diagram fullscreen"
    "closeLabel" "Close fullscreen diagram"
    "previewLabel" "Mermaid diagram"
    "fullLabel" "Mermaid diagram fullscreen"
  ) }}
</figure>
