{{ with $.Site.Data.style }}

html {
  font-size: 16px;
  background: #111;
  font-family: monospace, sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.3rem;
}

h1 + .time-tags,
h1 + .time-tags + *,
h2 + .time-tags,
h2 + .time-tags + *,
h2 {
  margin-top: {{ div .padding 2 }}{{ .padding_unit }};
}

html, a, button {
  color: #eee;
}

a {
  text-decoration: underline;
}

.anchor {
  opacity: 50%;
  transition: opacity 0.3s;
}

a:hover > .anchor {
  opacity: 100%;
}

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a {
  text-decoration: none;
}

#page-split {
  display: flex;
  flex-direction: row-reverse;
  width: 100vw;
  height: 100vh;
}

#sidebar {
  min-width: fit-content;
  overflow-y: auto;
  font-size: 22px;
}

#sidebar ul {
  margin: 0;
  padding: {{ .padding }}{{ .padding_unit }};
  list-style: none;
}

#sidebar li {
  display: block;
  white-space: nowrap;
}

#sidebar a {
  text-decoration: none;
}

#sidebar .name {
  text-decoration: underline;
}

#sidebar > ul > li:not(.active) > a > .nav-arrow {
  color: transparent;
}

#sidebar li:not(:first-child) {
  padding-top: {{ mul (div .padding 4) 3 }}{{ .padding_unit }};
}

main {
  width: 100%;
  padding: {{ .padding }}{{ .padding_unit }};
  overflow: auto;
}

#content {
  max-width: 600px;
}

.fancy-list a {
  display: block;
}

.fancy-list > li > .hsep {
  transition: background 0.3s linear 0.0s;
}

.fancy-list > li > :not(.hsep) {
  padding: {{ div .padding 2 }}{{ .padding_unit }};
}

.fancy-list > li:not(:last-child) > .hsep:last-child {
  display: none;
}

.fancy-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.fancy-list .name {
  font-weight: bold;
}

.fancy-list > li:hover > .hsep,
.fancy-list > li:hover + li > .hsep {
  background-color : #777777;
}

.media {
  display: flex;
  align-items: center;
}

.media > .content {
  width: 100%;
}

.media > :first-child {
  min-width: 100px;
  text-align: center;
}

/* the image/object */
.media > :first-child > * {
  height: 80px;
  max-width: 100px;
  padding-right: 20px;
}

.url {
  float: right;
  font-size: 0.8em;
  font-weight: bold;
}

.vsep {
  background: linear-gradient(rgba(0,0,0,0.0) 0%,#ffffff 50%,rgba(0,0,0,0.0) 100%);
  display: block;
  width: 1px;
  min-width: 1px;
  height: 100%;
}

.hsep {
  background: linear-gradient(90deg,rgba(0,0,0,0.0) 0%,#ffffff 50%,rgba(0,0,0,0.0) 100%);
  display: block;
  width: 100%;
  height: 1px;
  max-height: 1px;
}

#showcase {
  margin: 0;
  padding: 0;
}

#showcase input[type=radio] {
  display: none;
}

#showcase > .items {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

#showcase > .items > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  justify-content: flex-end;
  padding: 20px 30px;
  width: 110px;
  position: relative;
  transition: opacity 0.3s;
  text-align: center;
}

#showcase > .items > li > img {
  width: 100%;
  max-height: 60px;
  margin-bottom: 5px;
}

#showcase > .items > li > label {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  cursor: pointer;
}

#showcase .desc {
  text-align: center;
  margin: 0 auto;
  margin-top: {{ .padding }}{{ .padding_unit }};
  max-width: 300px;
  display: none;
  animation-name: fade-in;
  animation-duration: 0.3s;
}

@keyframes fade-in {
  0.0% {
    opacity : 0;
  }

  100.0% {
    opacity : 1;
  }
}

#showcase > .desc > img {
  margin: 0 auto 20px auto;
  height: 150px;
}

#showcase > input:checked ~ .items > li {
  opacity: 0.3;
}

#showcase > #showcase-none:checked ~ .items > li {
  opacity: 1;
}

{{ range $.Site.Data.interests.els }}

#showcase > input[id={{ .name | urlize }}]:checked ~ .items > [data-item={{ .name | urlize }}] {
  opacity: 1;
}

#showcase > input[id={{ .name | urlize }}]:checked ~ .desc[data-item={{ .name | urlize }}] {
  display: block;
}

#showcase > input[id={{ .name | urlize }}]:checked ~ .items > [data-item={{ .name | urlize }}] > label:last-child {
  display: none;
}

{{ end }}

.aspect {
  position: relative;
}

.a10-8 {
  padding-top: 80%;
}

.a16-9 {
  padding-top: 56.25%;
}

.aspect > * {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.embeds-page > .aspect {
  margin: 20px 0;
}

.embeds-page > .aspect:last-child {
  margin-bottom: 0;
}

#hb {
  display: none;
  position: absolute;
}

#hb:not(:checked) + * + nav.mob {
  display: none;
}

#hb:checked ~ #content {
  display: none;
}

[for="hb"] {
  z-index: 11;
  display: none;
  line-height: 0;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
}

[for="hb"] > svg {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 599px) {
  [for="hb"] {
    display: block;
  }

  #page-split {
    position: relative;
    display: block;
    height: auto;
  }

  #page-split .vsep {
    display: none;
  }

  #sidebar {
    display: none;
    animation-name: fade-in;
    animation-duration: 0.3s;
    position: absolute;
    top: 0;
    width: 100%;
  }

  #sidebar li {
    width: 100%;
  }

  #hb:checked ~ #page-split > #sidebar {
    display: block;
  }

  #hb:checked ~ #page-split > main {
    display: none;
  }
}

pre, .tabs {
  margin: {{ div .padding 2 }}{{ .padding_unit }} 0;
}

p {
  margin-top: 8px;
}

.tab-content > * {
  display: none;
}

code {
  background: {{ .purple_bg }};
  color: {{ .red_fg }};
}

.tab-nav > label, button {
  background: {{ .purple_bg }};
  border: none;
  padding: 10px;
  cursor: pointer;
}

.tab-nav > label:hover, button:hover {
  background: {{ .purple_bg_bright }};
}

{{ $purple_bg_active := .purple_bg_active }}
{{ range $num := (seq 5) }}
  .tabs > input:nth-child({{ $num }}):checked ~ .tab-content > :nth-child({{ $num }}) {
    display: block;
  }
  .tabs > input:nth-child({{ $num }}):checked ~ .tab-nav > :nth-child({{ $num }}) {
    background: {{ $purple_bg_active }};
  }
{{ end }}

.tab-nav {
  display: flex;
}

.tab-nav > label {
  margin-left: 6px;
  border-radius: 4px 4px 0 0;
}

.tab-nav > label:first-child {
  margin-left: 0;
}

.tab-content > .highlight > pre {
  margin: 0;
}

pre {
  padding: 10px;
  overflow: auto;
}

h2 + time + .tags {
  margin-top: 1em;
}

.time-tags {
  display: flex;
  justify-content: space-between;
}

.tags > a {
  background: {{ .purple_bg_hover }};
  padding: 4px;
  border-radius: 4px;
  font-size: 14px;
}

{{ end }}